

{% extends "ProyectoApp_jaguarete_kaa/base.html" %}

{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<br>
<br>

    <div class="row">
   
      <div class="col-12 col-md-6 offset-md-3">

       <div class="card">
       <div class="card-body">

        <form action="" method="post" enctype="multipart/form-data">
        <h2> modificar Producto</h2>
        <hr>
    
        {% csrf_token %}

        {{form| crispy}}

        <br>
            <div class="d-flex justify-content-end">
              <input type="reset" value="Cancelar" class="btn btn-secondary">
              &nbsp;
              <input type="submit" value="Modificar" class="btn btn-success">
            </div>
              </div>

    </div>


        </form>
        {{mensaje}}

    
  </div>

</div>

<br>
<br>

 {% endblock %}